// TableComponent.scss
.table{
  &--custom{
    border-bottom: 1px solid #33353b !important;
    background: #FFFFFF  !important;
    width: 100% !important;

    thead{

      background: #f1f4f9 !important;
      tr{
        // border: 1px solid #33353b !important;
        
        th{
          
          padding: .75rem !important;
          font-size: 14px !important;
          font-weight: 600 !important;
          color: #2b2c2e !important;
       
        }
        th:first-child { /* Targeting the first th element */
          text-align: right !important; /* Align text to the left */
          border-right: 0px !important;
          border-radius: 1rem 0rem 0rem 1rem !important;
        }
        th:last-child { /* Targeting the first th element */
          text-align: left !important; /* Align text to the left */
          border-right: 0px !important;
          border-radius: 0rem 1rem 1rem 0rem !important;
          
        }
      }
    }
    tbody{ /* Set the max height for tbody */
      overflow-y: auto !important;
      tr{
        // border: 1px solid #686b6f !important;
        height: 10px !important;
        text-align: center !important;
        &:hover {
          background-color: #ebffee !important;
        }  
        td{
          font-size: 13px !important;
          font-weight: 400 !important;
          padding: .5rem !important;
          
          border-bottom: 1px solid #CACACA!important;
          
        
        }
        td:first-child { /* Targeting the first th element */
          text-align: right !important; /* Align text to the left */
          border-right: 1px solid #ffffff !important;
          border-left: 1px solid #ffffff !important;
        }
        td:last-child { /* Targeting the first th element */
          text-align: left !important; /* Align text to the left */
        }

      }
    }
    .pagination {
            margin-top: 20px;
        
            button {
              margin-right: 10px;
            cursor: pointer;
            }
  }}}

.tbl{
  background: #1f2128 !important;

}
.Link{
  text-decoration: underline !important;
  line-height: 4px !important;
}

// .table--custom {
//   background-color: #FFFFFF !important;
//     table {
//       width: 100%;
//       border-collapse: collapse;
//       margin-bottom: 20px;
      
//       th,
//       td {
//         border: 1px solid #ccc;
//         padding: 8px;
//         text-align: left;
//       }
  
//       th {
//         cursor: pointer;
//       }
//     }
  
//     .pagination {
//       margin-top: 20px;
  
//       button {
//         margin-right: 10px;
//         cursor: pointer;
//       }
//     }
//   } 